@font-face {
	font-family: "Logisoso";
	src: url("fonts/Logisoso.ttf");
}

body {
	font-family: "Logisoso", serif;
	background: gray;
	color: black;
	font-size: 36px;
	overflow: hidden;
	text-align: center;
}

body#camera {
	background: red;
}
body#collage {
	background: black;
	color: white;
}

body#search {
	background: #FFFFFF;
}

#content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
	text-align: center;
}
#content img {
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#video {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;	
	text-align: center;
}
#video video {
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
#collage #video video {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -320px;
  margin-top: -240px;
  width: 640px;
  height: 480px;
}

/*body#collage #content img {}*/
#message {
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	bottom: 0;
}

#draw {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
canvas {
	/*border: 10px solid purple;*/
}