@font-face {
	font-family: "Logisoso";
	src: url("Logisoso.ttf");
}

body {
	font-family: "Logisoso", serif;
	background: black;
        color:white;
        font-size:40px;
}

#screen{ 
  margin:200px auto 0px auto;
  width:800px;
 }
.bertillon{ 
  color:cyan;
 }
.cronenberg{ 
  color:orange;
 }
.jorn{ 
       color:pink;
 }

.michael{ 
  color:lightgreen;
 }

.poirot{ 
  color:yellow;
 }